//Lib
@import "monday-ui-react-core/dist/main.css";

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";
@import "basics/forms";
@import "basics/monday-ui";

// Views
@import "views/about-us";
@import "views/home-page";
@import "views/review-app";
@import "views/user-details";
@import "views/app-index";
@import "views/login-page";

// Components
@import "cmps/header";
@import "cmps/app-footer";
@import "cmps/user-msg";
@import "cmps/shopping-cart";
@import "cmps/side-nav";
@import "cmps/work-space";
@import "cmps/task-preview";
@import "cmps/task-list";
@import "cmps/task-details";
@import "cmps/group-preview";
@import "cmps/group-list";
@import "cmps/board-list";
@import "cmps/board-details";
@import "cmps/ImgUploader";
@import "cmps/task-activity-log";
@import "cmps/group-bottom-bar";