* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: Poppins-Regular;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    font-family: Figtree, Roboto, Rubik, Noto Kufi Arabic, Noto Sans JP, sans-serif;
    margin: 0;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}



img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}