button {
    border: 0;
    background-color: $clr1;
    color: whitesmoke;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

// form > * {
//     display: block;
//     width: 572px;
//     height: 600px;
//     margin: 10px 0px;
// }

.btn-link {
    border: 0;
    text-decoration: underline;
    transition: 0.5s;
}

.btn-link:hover {
    background-color: $clr1;
    transform: scale(1.1);
}

.base-modal {
    position: relative;
    right: 50%;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    z-index: 70;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 6px 0 rgb(0 0 0 / 30%);
}

.wrap-group-modal {
    position: relative;
    z-index: 71;
}

.menu-modal {
    position: absolute;
    background-color: #fff;
    width: 264px;
    list-style-type: none;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.133);
    z-index: 70;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 1px #00000021;

    transform: translate(199px, 10px);

    &.board-list-modal {
        transform: translate(-241px, -26px);

        hr {
            margin: 1px;
        }
    }

    &.group-modal {
        color: $clr1;
        transform: translate(-34px, 44px);
        width: 215px;
        z-index: 71;

        p {
            color: #323338;
            font-size: 14px;
            margin: 0;
            padding-left: 7px;
        }

        .menu-modal-option {
            width: 200px;
        }
    }

    &.task-modal {
        transform: translate(-35px, 25px);
    }

    .main-option {
        top: 24px;
        left: 210px;
    }

    .menu-modal-option {
        height: 32px;
        width: 248px;
        padding: 4px 8px;
        margin: 8px 0;
        border-radius: 0.3rem;
        align-items: center;
        cursor: pointer;
    }

    .new-group-btn-option {
        margin: 0;
        width: 204px;
        padding: 0;
        font-size: 14px;
        color: black;
        cursor: pointer;

        p {
            margin: 0;
            padding: 4px 0;
            padding-left: 8px;
        }
    }

    .menu-modal-option:hover {
        background-color: #dcdfec;
    }

    .first {
        margin-top: 0;
    }

    hr {
        width: 264px;
        opacity: 0.3;
        margin: 1px;
    }
}