.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, $normal-breakpoint) minmax(20px, 1fr);
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.sticky-grid {
    position: sticky;
    // top: 20px;
    left: 40px;
    z-index: 5;
    background-color: white;
}

.sticky-board-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 21;
    background-color: white;
}

.group-sticky-header {
    @include for-narrow-layout {
        position: sticky;
        top: 101px;
        left: 40px;
        z-index: 10;
        background: white;
    }
}

.sticky-group-title {
    position: sticky;
    top: 201px;
    background-color: white;
    z-index: 20;
}

.sticky-group-title-down {
    position: sticky;
    top: 154px;
    z-index: 20;
    background-color: white;
}