// Override base settings for Monday UI classes
.list-item-icon {
    margin-right: 0;
    width: 19px;
    height: 19px;
    transform: translateY(-2px);

    &>svg {
        width: 100%;
        height: 100%
    }
}

.list-item {
    & span {
        padding-inline-start: em(7px, 1em);
    }
}