/* Breakpoint mixins */
/* Media  Mixins */
@font-face {
  font-family: Poppins-Thin;
  src: url(../../fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../../fonts/Poppins-Bold.ttf);
}
.fs12 {
  font-size: 0.75rem;
}

.fs14 {
  font-size: 0.875rem;
}

.fs18 {
  font-size: 1.125rem;
}

.fs20 {
  font-size: 1.25rem;
}

.fs24 {
  font-size: 1.5rem;
}

.fs28 {
  font-size: 1.75rem;
}

.fs30 {
  font-size: 1.875rem;
}

.flex {
  display: flex;
}
.flex > *.full {
  flex: 1;
}
.flex.column {
  flex-direction: column;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.align-center {
  align-items: center;
}

.square-ratio {
  position: relative;
  overflow: hidden;
}
.square-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.square-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.square-ratio > img {
  height: 100%;
  object-fit: cover;
}

.video-ratio {
  position: relative;
  overflow: hidden;
}
.video-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.video-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.video-ratio > img {
  height: 100%;
  object-fit: cover;
}

.portrait-ratio {
  position: relative;
  overflow: hidden;
}
.portrait-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 177.7777777778%;
}
.portrait-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.portrait-ratio > img {
  height: 100%;
  object-fit: cover;
}

.main-container {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}
.main-container > * {
  grid-column: 2;
}
.main-container > *.full {
  grid-column: 1/-1;
}
@media (min-width: 500px) {
  .main-container {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 460px) minmax(20px, 1fr);
  }
}
@media (min-width: 760px) {
  .main-container {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 720px) minmax(20px, 1fr);
  }
}
@media (min-width: 1000px) {
  .main-container {
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 960px) minmax(20px, 1fr);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #323338;
  color: #fff;
}

html {
  font-family: Poppins-Regular;
  line-height: 1.6;
  color: #0073ea;
}

body {
  font-size: 1.125rem;
  margin: 0;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins-Regular;
  margin: 0 0 0.6em;
  line-height: 1;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: 0;
  background-color: #323338;
  color: whitesmoke;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

form > * {
  display: block;
  width: 200px;
  margin: 10px 0px;
}

.btn-link {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  transition: 0.5s;
}

.btn-link:hover {
  background-color: #323338;
  transform: scale(1.1);
}

.base-modal, .task-preview .user-preview {
  position: relative;
  margin-top: 50px;
  right: 40%;
  background-color: #fff;
  height: 183px;
  width: 250px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: #323338 solid 1px;
  z-index: 70;
}

.menu-modal {
  position: absolute;
  background-color: #fff;
  width: 264px;
  list-style-type: none;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.133);
  z-index: 70;
  top: 24px;
  left: 210px;
  border-radius: 1rem;
}
.menu-modal .menu-modal-option {
  height: 32px;
  width: 248px;
}
.menu-modal hr {
  width: 248px;
  opacity: 0.3;
  margin: 0.2 0;
}

.fancy-box {
  background-color: gold;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.split-pane > div {
  transition: 0.5s;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
  transform: scale(1.3);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: scale(1);
  transition: all 300ms ease-in;
}

.proj-preview {
  background-color: teal;
  color: whitesmoke;
  padding: 5px;
  margin: 3px;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page .see-demo {
  background-image: linear-gradient(90deg, #5034ff 25.69%, #b4b4ff 100%);
  color: #fff;
  min-width: 130px;
  padding: 16px 20px 16px 30px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 40px;
  border: none;
  font-weight: 400;
  line-height: 17px;
  overflow: hidden;
  transition: padding 0.3s ease;
}
.home-page .see-demo:hover {
  filter: brightness(85%);
  outline: none;
  padding-right: 32px;
  text-decoration: none;
}
.home-page .home-page-main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f1048;
  width: 100%;
  color: white;
  min-height: 40vh;
}
.home-page .cover-img {
  min-height: 40vh;
}

.review-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.review-list li {
  background-color: #0073ea;
  color: #fff;
  padding: 5px;
  margin: 5px;
}
.review-list a {
  color: #323338;
  padding: 10px;
}
.review-list h3 {
  background-color: #ddd;
  padding: 10px 5px;
  margin: 5px;
}

.user-details .user-img {
  height: 200px;
  width: 200px;
  background-size: contain;
}

.app-index {
  display: grid;
  grid-template-columns: 66px 254px 1fr;
  grid-template-areas: "side-nav  work-space   board-details";
}

.app-header {
  background-color: #95adbe;
  padding: 10px;
}
.app-header .user-info {
  padding-left: 100px;
  color: #323338;
}
.app-header .user-info .score {
  background-color: #0073ea;
  color: #fff;
  padding: 8px;
  margin: 10px;
  border-radius: 50%;
}
.app-header .user-info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.app-header .user-info .btn-link {
  color: #0073ea;
}
.app-header nav {
  font-size: 0.8em;
  background-color: #dff0ea;
  padding: 5px;
}
.app-header nav a:first-child {
  margin-right: 30px;
}
.app-header nav a:not(:first-child) {
  border-top: 1px solid #323338;
  padding: 0 5px;
  margin: 10px;
}
.app-header nav .active {
  color: #323338;
}

.app-footer {
  background-color: #111;
  color: #95adbe;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.user-msg {
  color: white;
  padding: 10px;
  font-size: 1.4em;
  position: fixed;
  top: 0;
  right: 0;
  background-color: grey;
}

.user-msg button {
  float: right;
  border: 0;
  border-radius: 50%;
  margin: 5px;
  background-color: #222;
}

.user-msg.success {
  background-color: rgb(41, 189, 73);
}

.user-msg.error {
  background-color: rgb(216, 59, 59);
}

.cart {
  color: black;
  background-color: #dff0ea;
  padding: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: left;
}

.cart li button {
  margin: 5px;
}

.side-nav {
  grid-area: side-nav;
  background-color: #292f4c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.main-logo {
  height: 36px;
  width: 36px;
  margin: 10px 15px 6px;
}

.logo-hr {
  margin: 0 8px;
  width: 75%;
  height: 1px;
  background-color: #676879;
}

.work-managment-icon {
  height: 25px;
  width: 29px;
  margin: 18px 15px;
}

.work-space {
  grid-area: work-space;
  background-color: #f6f7fb;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 255px;
  position: fixed;
  left: 66px;
  border-right: 1px solid rgba(0, 0, 0, 0.102);
  transition: transform 1s;
}
.work-space.close-workspace {
  transform: translateX(-225px);
}
.work-space .workspace-header {
  justify-content: space-between;
  align-items: center;
}
.work-space .toggle-menu-btn {
  position: absolute;
  top: 20px;
  left: 244px;
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 1rem;
  transition: all 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.102);
}
.work-space .toggle-menu-btn .arrow-left-icon {
  height: 12px;
  width: 12px;
  margin-bottom: 3.5px;
  margin-left: 3.5px;
}
.work-space .toggle-menu-btn:hover {
  width: 35px;
  background-color: #0073ea;
  transform: translateX(-20%);
}
.work-space .main-icon {
  height: 24px;
  width: 24px;
  margin: 5px;
  font-size: 0.85rem;
  font-weight: 500;
}
.work-space .main-icon .home-icon {
  height: 16px;
  width: 16px;
}
.work-space .main-workspace-dropdown {
  border: 1px solid black;
  border-radius: 0.25rem;
  align-items: center;
  padding: 2px;
  margin-bottom: 30px;
}
.work-space .main-workspace-dropdown .main-icon {
  position: relative;
  margin: 5px 5px;
  background-color: #225091;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 24px;
}
.work-space .main-workspace-dropdown .home-icon {
  position: absolute;
  top: 12px;
  left: 17px;
}
.work-space .main-workspace-dropdown h3 {
  color: #323338;
  display: inline-block;
  margin: 0;
  line-height: 24px;
  font-size: 0.85rem;
  padding-left: 4px;
  padding-right: 48px;
}
.work-space .main-workspace-dropdown .arrow-down-icon {
  height: 18px;
  width: 18px;
  vertical-align: middle;
}
.work-space .option-wrap :hover {
  background-color: #dcdfec;
  border-radius: 0.2rem;
}
.work-space p {
  color: #323338;
  font-size: 14px;
  margin-bottom: 8px;
  padding-left: 7px;
}
.work-space hr {
  color: rgba(50, 51, 56, 0.2941176471);
  height: 1px;
  width: 95%;
}
.work-space .close {
  transform: translateX(100%);
}
.work-space .dark-screen {
  background-color: rgba(0, 0, 0, 0.425);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}
.work-space .main-modal {
  background-color: #fff;
  box-shadow: 0 0 12px 1px grey;
  height: 245px;
  left: 50%;
  position: fixed;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  width: 437px;
  z-index: 71;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: #323338;
  border-radius: 8px;
}
.work-space .main-modal .close-modal {
  align-self: flex-end;
  padding-inline-end: 1em;
}
.work-space .main-modal form {
  flex-direction: column;
  width: 351px;
}
.work-space .main-modal .modal-btns {
  align-self: end;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.work-space .main-modal button {
  margin: 0;
  margin-inline-start: 20px;
  border-radius: 4px;
  background-color: #0073ea;
}
.work-space .main-modal .cancel-modal {
  background-color: #fff;
  color: #323338;
}
.work-space .main-modal input {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  box-shadow: none;
  border: #323338 solid 0.5px;
  font-family: Poppins-Regular;
}
.work-space .main-modal h1 {
  width: 100%;
  font-size: 32px;
}
.work-space .main-modal label {
  margin-bottom: 0;
}
.work-space .board-filter {
  display: flex;
}
.work-space .board-filter::after {
  outline: #0073ea 1px solid;
}
.work-space .board-filter .search-board-icon {
  position: absolute;
  margin-left: 5px;
  margin-top: 4px;
}
.work-space .board-filter input {
  font-family: Poppins-Regular;
  margin: 0;
  padding-left: 30px;
  border: none;
  background-color: #f6f7fb;
  width: 100%;
  height: 30px;
}
.work-space .board-filter input:focus {
  outline: #4d99f8 1px solid;
  border-radius: 0.2rem;
}

.workspace-txt {
  font-size: 12.5px;
  font-weight: 400;
  color: #676879;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-left: -3px;
}

.search-board-icon {
  height: 20px;
  width: 20px;
}

.task-preview {
  align-items: center;
}
.task-preview .status-picker {
  position: absolute;
  background-color: #fff;
  color: white;
  justify-content: space-evenly;
  width: 200px;
  list-style-type: none;
  padding: 16px 24px 8px;
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1490196078);
  border-radius: 0.5rem;
  z-index: 70;
  transform: translate(-50%, 18%);
  top: 18%;
  left: 50%;
}
.task-preview .status-picker .arrow-up {
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, 0);
  top: -10px;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255);
}
.task-preview .status-picker .label {
  margin-bottom: 8px;
}
.task-preview .user-preview {
  width: 400px;
  height: 500px;
}
.task-preview .user-preview .person-details .person-names {
  padding: 10px;
}
.task-preview > .task-column {
  transition: background-color 0.15s ease-in-out;
}
.task-preview > .task-column:hover {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

.task-title {
  width: 288px;
}

.task-txt {
  width: 288px;
  align-items: center;
}
.task-txt span {
  font-size: 14px;
}

.task-status {
  width: 130px;
  position: relative;
}
.task-status span {
  color: white;
}

.close-status-picker {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}

.task-persons {
  width: 170px;
}

.task-icon {
  height: 22px;
  width: 22px;
  margin: 6px;
}

.task-list {
  color: #323338;
  text-align: center;
  font-size: 14px;
}
.task-list .task-title-row {
  text-align: center;
  font-size: 14px;
}

.task-column {
  border: 0.5px solid rgba(0, 0, 0, 0.192);
  border-collapse: collapse;
  height: 36px;
  line-height: 36px;
}

.checkbox-column {
  display: flex;
  border-left: none;
}

.task-checkbox {
  margin: 8px;
}

.task-date {
  width: 130px;
}

.add-task-wrap .task-checkbox {
  opacity: 0.5;
}

.task-input-row {
  border: 0.5px solid rgba(0, 0, 0, 0.192);
  border-collapse: collapse;
  height: 36px;
  width: 718px;
}

.add-task-input {
  margin: 8px 0 8px 10px;
  border: none;
  padding-left: 15px;
}

.colored-tag {
  display: inline-block;
  height: 36px;
  width: 6px;
}

.first-tag {
  border-radius: 2rem 0 0 0;
}

.last-tag {
  border-radius: 0 0 0 2rem;
}

.task-details-modal {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 691px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1882352941);
  padding: 20px;
  transform: translateX(100%);
  transition: all 0.4s;
  display: none;
}

.task-modal-open {
  transform: translateX(0);
  display: block;
}

.group-preview-line {
  margin: 32px 0;
}
.group-preview-line .number-of-tasks {
  opacity: 0;
}
.group-preview-line .number-of-tasks:hover {
  opacity: 1;
  font-size: 14px;
  color: #323338;
}
.group-preview-line .group-title {
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 1em;
  font-family: Poppins-Regular;
}
.group-preview-line .group-title:hover, .group-preview-line .group-title:focus {
  outline: 1px solid rgb(223, 223, 223);
  border-radius: 0.25em;
}

.group-list {
  list-style: none;
  margin: 0;
}
.group-list .gruop-serach-filter {
  border-radius: 4px;
  font-family: Poppins-Regular;
  padding: 4px 10px;
  margin-bottom: 50px;
  color: white;
  border: #323338 solid 1px;
}
.group-list .gruop-serach-filter input {
  border: none;
  width: 100%;
}

.group-list-main-hr {
  width: 95%;
  margin-left: 0;
}

.new-group-btn {
  background-color: #0070e5;
  color: white;
  border-radius: 4px;
  font-family: Poppins-Regular;
  padding: 4px 10px;
  margin-bottom: 50px;
}

.boards-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.boards-list .board-optins {
  border: #323338 solid 1px;
  position: absolute;
  margin-inline-start: 230px;
  margin-bottom: 100px;
  width: 200px;
  height: 200px;
  background-color: #323338;
}

.board-icon {
  height: 20px;
  width: 20px;
}

.option-icon {
  width: 25px;
  height: 25px;
  fill: #323338;
  margin-right: 1px;
  margin-bottom: 4px;
}

.board-preview {
  justify-content: space-between;
  align-items: center;
}
.board-preview a {
  color: #323338;
  font-size: 14px;
  padding: 10px 0;
}

.board-preview-link {
  font-size: 14px;
  padding-left: 10px;
  color: #323338;
}

.board-wrap {
  align-items: center;
  display: flex;
}
.board-wrap a {
  padding-left: 10px;
}

.board-details {
  grid-area: board-details;
}

.board-title-wrap {
  padding-top: 17px;
  padding-left: 40px;
}
.board-title-wrap button {
  background-color: transparent;
  color: #323338;
}

.board-title {
  display: inline-block;
  font-weight: 500;
  font-size: 32px;
  color: #323338;
  margin: 0;
  margin-right: 15px;
}

.title-icon {
  height: 24px;
  width: 20px;
  margin-right: 15px;
}

.board-title-wrap {
  margin-bottom: 15px;
}

/*# sourceMappingURL=main.css.map */
