@font-face {
    font-family: Poppins-Thin;
    src: url(../../fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../../fonts/Poppins-Bold.ttf);
}
