// Colors
$clr1: #323338; // main text/border color
$clr2: #0073ea;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;


$main-hover: #676879;
$work-space-bgc: #f6f7fb;
$side-nav-bgc: #292f4c;
$primery-btn-color: #0070e5;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;