.home-page {
    .content {
        width: 800px;
        // height: 100%;
        position: absolute;
        transform: translate(-50%);
        top: 280px;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        @include for-mobile-layout {
            width: 95%;
            top: 200px;
        }
    }

    .triangle-wrapper {
        position: relative;
    }

    .triangle {
        background-image: linear-gradient(to bottom left, transparent 50%, white 0);
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 8px;

        @include for-mobile-layout {
            height: 75px;
        }
    }

    .about-us {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .main-avatars {
        @include for-mobile-layout {
            flex-direction: column;
        }
    }

    .about-avatar {
        width: 280px;
        margin: 15px;
        margin-right: 30px;
        margin-left: 30px;

        img {
            border-radius: 50%;
            box-shadow: 0 0 10px 3px #00000029;

            &:hover {
                outline: 1px solid rgb(255, 255, 255);
            }
        }

        p {
            text-align: center;
            font-weight: 600;
        }
    }

    .clients-img {
        width: 75%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        @include for-mobile-layout {
            flex-direction: column;
        }

        .img-wrap {
            height: 30px;
            margin: 20px;

            @include for-mobile-layout {
                height: unset;
                width: unset;
            }
        }
    }

    .home-page-hr {
        width: 75%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .our-clients {
        margin-top: 60px;
        text-align: center;
        color: black;

        p {
            font-weight: 600;
        }
    }

    .cover-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cover-title-wrap {
        width: 700px;
    }

    h1 {
        text-align: center;
        font-size: 72px;
        font-family: "Poppins-Thin";

        @include for-mobile-layout {
            font-size: 45px;
        }
    }

    h2 {
        font-size: 50px;
    }

    p {
        font-size: 25px;
        font-family: "Poppins-Thin";

        @include for-mobile-layout {
            font-size: 22px;
            text-align: center;
        }
    }

    .see-demo {
        background-image: linear-gradient(90deg, #5034ff 25.69%, #b4b4ff 100%);
        color: #fff;
        min-width: 130px;
        padding: 16px 20px 16px 30px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 40px;
        border: none;
        font-weight: 400;
        line-height: 17px;
        overflow: hidden;
        transition: padding 0.3s ease;

        &:hover {
            filter: brightness(85%);
            outline: none;
            padding-right: 32px;
            text-decoration: none;
        }

        @include for-mobile-layout {
            padding: 12px 12px;
            font-size: 16px;
        }
    }

    .home-page-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #0f1048;
        width: 100%;
        color: white;
        text-align: center;
        // padding-top: 6%;
        min-height: 40vh;
        @include for-mobile-layout {
            flex-basis: 50%;
        }
    }

    .cover-img {
        min-height: 40vh;
        @include for-mobile-layout {
            min-height: 35vh;
            width: 175%;
            flex-basis: 50%;
        }
    }

    @include for-mobile-layout {
        height: 102vh;
    }
}
