.board-details {
    grid-area: board-details;
    color: $clr1;
    overflow: auto;
    max-height: 100vh;

    // position: relative;
    a.tab-inner {
        padding-inline: 8px;
    }

    .tab-lists {
        padding: 0;

        ul {
            padding: 0;

        }
    }

}

.board-title-wrap {
    padding-top: 15px;
    padding-left: 40px;
    align-items: center;

    button {
        background-color: transparent;
        color: #323338;
    }

    @include for-mobile-layout {
        padding: 0;
    }
}

.board-second-title-wrap {
    padding-left: 40px;
    margin-top: -1px;
}

.board-title {
    display: inline-block;
    font-weight: 500;
    font-size: em(24px, 1em);
    font-family: Poppins-Regular;
    color: #323338;
    margin: 0;
    margin-right: 4px;
    outline: none;
    border: none;
    border-radius: 0.25em;
    margin-top: 4px;
    letter-spacing: -0.2px;
    padding-inline-start: 1px;
    width: 3ch;

    @include for-narrow-layout {


        &:hover,
        &:focus {
            outline: 1px solid rgb(223, 223, 223);
        }
    }

    &.mobile {
        display: none;
        margin-block: 10px;

        @include for-mobile-layout {
            display: inline-block;
            // margin: auto;
            font-size: 1em;
        }
    }

    @include for-mobile-layout {
        margin: auto;
        padding: 0;
    }
}

.title-icon {
    height: 24px;
    width: 20px;
    margin-right: 12px;
    margin-top: 4px;
}

// .info-icon {
//     margin-left: -26px;
// }

.board-title-wrap {
    margin-bottom: 5px;

    .title-icon,
    form {
        @include for-mobile-layout {
            display: none;
        }
    }

    @include for-mobile-layout {
        max-width: 100vw;
        text-align: center;
    }

    & .icon-info {
        margin-top: 2px;
        margin-right: 6px;
        width: 24px;
        height: 20px;
        color: $icon-color;
    }

    & .icon-star {
        width: 18px;
        height: 18px;
        color: $icon-color;
    }
}

.tab--wrapper .board-details-tab {
    margin-bottom: 20px;
    margin-top: -15px;
}

.board-details-tab {
    height: 40px;
    margin-left: 40px;

    @include for-mobile-layout {
        display: none;
    }
}

.tab--wrapper .tab-inner {
    font-size: 14px;
    padding: 0;
    padding-left: 4px;
}

.icon-btn-add {
    display: none;
    background-color: $primary-color;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;

    svg {
        width: 25px;
        height: 25px;
    }

    &.active {
        transform: rotate(-135deg);
    }

    @include for-mobile-layout {
        display: flex;
    }
}

.board-actions-modal {
    position: absolute;
    bottom: 90px;
    right: 25px;
    width: 0;
    height: 0;
    overflow: hidden;

    .board-actions-mobile {
        width: 100%;
    }

    button {
        justify-content: flex-end;
        padding-inline: 10px;
    }

    &.active {
        z-index: 6;
        width: 60vw;
        height: auto;
    }
}

.invite-users {
    margin-left: auto;

    & .user-invite-btn {
        display: none;
        background: white;
        border: 1px solid $ui-border-color;
        margin-inline-end: 18px;

        &:hover {
            background-color: $primary-background-hover-color;
        }

        @include for-narrow-layout {
            display: inline-flex;
        }

        &.mobile {
            display: none;
            padding-inline: 8px;
            margin-top: 8px;
            @include for-mobile-layout {
                display: inline-flex;
            }
        }
    }
}

.invite-modal {
    & .dark-screen {
        transition: all 1s;
        background: rgba(0, 68, 156, 0.3);
    }

    & .invite-menu {
        margin: auto;
        // margin-right: 15px;
        z-index: 70;
        padding-inline: 32px;
        padding-block: 24px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>.modal-title {
            font-weight: 400;
            font-size: 24px;
            color: var(--primary-text-color);
        }

        &>* {
            width: 100%;
        }

        & .monday-storybook-text-field_size {
            margin-block-end: 20px
        }
    }

    & .user-round-icon {
        height: 30px;
        width: 30px;
        margin-right: 12px;
        border: 1px solid var(--ui-border-color);
        border-radius: 50%;
    }
}

.board-users-li {
    font-size: 15px;
    margin-bottom: 16px;
    min-height: 36px;
}



.suggested-invites {
    &>div {
        // padding-inline: 0;
        margin-block: 8px;
    }
}