.group-preview-line {
    margin: 32px 0;
    color: $clr1;

    @include for-mobile-layout {
        margin: 0;
    }

    .number-of-tasks {
        font-size: 14px;
        color: $clr1;
        opacity: 0;
        margin-top: 13px;
    }

    .group-title {
        box-sizing: border-box;
        outline: none;
        border: none;
        font-size: 1em;
        font-family: Poppins-Regular;
        margin-inline-start: 5px;
        margin-top: 13px;
        margin-bottom: 5px;
        letter-spacing: -0.2px;
        font-weight: 600;

        &:hover,
        &:focus {
            outline: 1px solid rgb(223, 223, 223);
            border-radius: 0.25em;
        }
    }
}

.group-preview {
    margin-inline-start: 2px;
    font-family: Figtree;
    margin-bottom: 57px;
    min-width: fit-content;

    @include for-mobile-layout {
        margin-bottom: 15px;
        margin-top: 15px;
        margin-left: -30px;
    }

    .option-icon {
        margin-inline-start: -33px;
        margin-top: 4px;
        opacity: 0;
    }

    .group-title-container:hover {
        .option-icon {
            opacity: 1;
        }

        .number-of-tasks {
            opacity: 1;
        }
    }
}
