.group-list {
    list-style: none;
    margin: 0;
    color: $clr1;

    .sticky-group-bar {
        position: sticky;
        top: 101px;
    }

    .group-search-filter {
        border-radius: 4px;
        font-family: Poppins-Regular;
        padding: 4px 10px;
        color: white;
        border: $clr1 solid 1px;
        order: 3;

        input {
            border: none;
            width: 100%;
            outline: none;
        }

        @include for-mobile-layout {
            width: 100%;

            .board-icon:hover {
                background: none;
            }
        }
    }

    @include for-mobile-layout {
        padding-inline-start: $inner-padding-mobile;
    }
}

.group-list-main-hr {
    width: 95%;
    margin-left: 0;
    margin-top: 0;

    @include for-mobile-layout {
        display: none;
    }
}

.board-actions {
    margin-bottom: -5px;
    margin-top: 15px;
    height: 32px;

    .bar-icon {
        opacity: 0.75;
    }

    button {
        font-size: 14px;
        padding: 0;
        padding-inline: 10px;
        --element-width: 20px;
        margin-left: 0;
        display: flex;
        transition: all 0.2s;
        margin-right: 21px;
        position: relative;
        right: 0%;

        @include for-mobile-layout {
            margin-right: 10px;
            height: 30px;
            background: $primary-background-hover-color;
        }
    }

    // .bar-search-container {
    //     order: 2;

    //     @include for-mobile-layout {
    //         display: none;
    //     }
    // }

    .new-group-btn {
        background-color: $primery-btn-color;
        color: white;
        border-radius: 4px 0 0 4px;
        font-family: Poppins-Regular;
        padding: 4px 10px 4px 10px;
        margin: 0;
        width: 76px;
        border-right: 1px rgba(0, 0, 0, 0.221) solid;
        height: 100%;
        position: relative;
        order: 0;

        @include for-mobile-layout {
            display: none;
        }

        &.arrow-down-new-group {
            border-radius: 0 4px 4px 0;
            margin-right: 21px;
            width: 28px;
            padding: 0;
            // margin: 0;
            order: 1;
        }

        &.arrow-down-new-group:hover {
            background-color: $primery-btn-color;
        }

        span {
            position: absolute;
            // font-size: 0.737rem;
            display: inline-block;
            bottom: 6px;
            left: -6.900000000000006px;
            width: 90px;
        }

        .arrow-down-img {
            margin: 9px auto;
            width: 16px;
        }
    }

    .new-group-btn:hover {
        background-color: #0055ae;
    }

    .modal-wrap {
        width: 220px;
        transform: translate(74px, 33px);
    }

    .filter-modal {
        position: absolute;
        transform: translate(58px, 55px);
    }

    .search-btn-board-details {
        order: 2;
        // width: auto;
        width: fit-content;

        @include for-mobile-layout {
            order: 3;
            margin: 0;
            padding-inline: 5px;
            // margin-inline-start: 105px;
            margin-left: auto;

            span {
                display: none;
            }

            svg {
                margin: auto;
            }
        }
    }

    .cancel-btn {
        margin-right: 10px;
        margin-block: auto;
        font-size: em(16px, 1em);
        display: none;

        @include for-mobile-layout {
            &.on {
                display: inline-block;
            }
        }
    }

    .bar-person {
        // margin-left: 17px;
        order: 3;

        @include for-mobile-layout {
            display: none;
        }
    }

    .bar-filter {
        // margin-left: 17px;
        order: 4;

        @include for-mobile-layout {
            order: 2;

            &.search-clicked {
                // right: 100%;
                display: none;
            }
        }
    }

    .bar-sort {
        // margin-left: 36px;
        order: 5;

        @include for-mobile-layout {
            display: none;
        }
    }

    .search-bar-mobile {
        margin-block: 5px;
        margin-inline-start: auto;
        transition: all 1s;
        background: white;
        display: none;
        width: 0;

        &.on {
            display: flex;
            width: 100%;
        }
    }

    @include for-mobile-layout {
        max-width: calculate-width(100vw, $inner-padding-mobile);

        & > div {
            position: fixed;
            top: 49px;
            right: 0;
            padding-inline: 15px;
            z-index: 6;
            background: white;
            padding-block-end: 10px;
            box-shadow: 0px 6px 8px -9px #c3c6d4;
        }
    }

    .bar-tables {
        display: none;

        @include for-mobile-layout {
            display: flex;

            &.search-clicked {
                // right: 100%;
                display: none;
            }
        }
    }
}
