.group-list {
    list-style: none;
    margin: 0;
    color: $clr1;

    .group-search-filter {
        border-radius: 4px;
        font-family: Poppins-Regular;
        padding: 4px 10px;
        color: white;
        border: $clr1 solid 1px;

        input {
            border: none;
            width: 100%;
        }
    }

}

.group-list-main-hr {
    width: 95%;
    margin-left: 0;
    margin-top: 0;
}

.board-actions {
    height: 32px;
    // margin-bottom: -5px;
    // margin-top: 15px;

    button {
        font-size: 14px;
        padding: 0;
        padding-inline: 10px;
        --element-width: 20px;
        margin-left: 10px;
    }

    .new-group-btn {
        background-color: $primery-btn-color;
        color: white;
        border-radius: 4px 0 0 4px;
        font-family: Poppins-Regular;
        padding: 4px 10px 4px 10px;
        margin: 0;
        width: 76px;
        border-right: 1px rgba(0, 0, 0, 0.221) solid;
        height: 100%;
        position: relative;

        &.arrow-down-new-group {
            border-radius: 0 4px 4px 0;
            width: 28px;
            padding: 0;
            margin: 0;
        }

        &.arrow-down-new-group:hover {
            background-color: $primery-btn-color;
        }

        span {
            position: absolute;
            // font-size: 0.737rem;
            display: inline-block;
            bottom: 6px;
            left: -6.900000000000006px;
            width: 90px;
        }

        .arrow-down-img {
            margin-top: 8px;
            width: 16px;
        }

    }

    .new-group-btn:hover {
        background-color: #0055ae;
    }

    .modal-wrap {
        width: 220px;
        transform: translate(74px, 33px);
    }

    .filter-modal {
        position: absolute;
        transform: translate(58px, 55px);
    }

    .search-btn-board-details {
        margin-left: 21px;
    }

    .bar-person {
        margin-left: 17px;
    }

    .bar-filter {
        margin-left: 17px;
    }

    .bar-sort {
        margin-left: 36px;
    }

    .search-btn-board-details {
        margin-left: 23px;
    }

}