.group-bottom-bar {
    @include for-mobile-layout {
        margin-left: 23px;
    }

    .bar-person {
        border-radius: 0 0 0 8px;
        border-left: #d0d4e4 solid 1px;
    }

    .label-progress-bar {
        margin-block: 6px;
        margin-inline: 8px;
        width: 100%;
    }

    .status-progress {
        transition: 0.2s;

        &:hover {
            margin-block: -3px;
            border-radius: 2px;
        }
    }

    .bar-place-holder {
        width: 403px;
        border: none;
        // border-right: #d0d4e4 solid 1px;

        @include for-mobile-layout {
            width: 287px;
        }

    }

    .task-date {
        justify-content: center;
        align-items: center;

    }

    .dates-color {
        justify-content: center;
        align-items: center;
        background-color: purple;
        color: white;
        text-align: center;
        width: 95%;
        height: 70%;
        font-size: 13px;
        border-radius: 20px;
    }
}
