.group-preview-line {
    margin: 32px 0;

    .number-of-tasks {
        opacity: 0;
    }
}

.group-title:hover {
    .number-of-tasks {
        opacity: 1;
        font-size: 14px;
        color: #323338;
    }
}
