.kanban-group-preview-line {
    min-height: 100vh;
    margin-right: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;



    .kanban-group-preview {
        min-width: 260px;
        max-height: 100%;
        border: $clr1 solid 1px;
        flex-direction: column;
        border-radius: 8px 8px 8px 4px;
        background-color: #f6f7fb;
        line-height: 22.5px;
        position: relative;

    }

    .kanban-tittle-wrapper {
        height: 44px;
        background-color: purple;
        color: white;
        border-radius: 8px 8px 0px 0px;
    }

    .kanban-card-container {
        min-height: 126px;
        padding: 0px 4px 0 10px;
        margin: 8px 4px 0 0;
        font-size: 13px;
        // overflow-y: scroll;

    }

    .add-task {
        min-height: 37px;
        color: #676879;
        padding: 4px 8px 4px 10px;
        font-size: 14px;
        display: flex;
        align-items: center;

        h5 {
            height: 100%;
        }

        form {
            position: relative;
            height: 100%;

            input {
                height: 100%;
                width: 100%;
                padding: 0;
                margin: 0;

                &:focus-visible {
                    outline: var(--primary-color) 1px solid;
                }
            }
        }

        button {
            position: absolute;
            background-color: rgb(85, 89, 223);
            height: 25px;
            width: 64px;
            top: -3px;
            right: -3px;
            border-radius: 8px;
        }
    }

    .kanban-color {
        height: calc(100% - 42px);
        width: 4px;
        position: absolute;
        top: 42px;
        left: 0;
        border-bottom-left-radius: 4px;
        background-color: purple;
    }

}