.task-details-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 691px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px #00000030;
    padding: 20px;
    transform: translateX(100%);
    transition: all 0.4s;
    display: none;
    display: flex;
    flex-direction: column;

}

.task-modal-open {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    color: $clr1;

    button {
        align-items: flex-start;
    }

    .comments-btn {
        display: flex;
        align-items: end;

        button {
            align-items: flex-start;
            background-color: #fff;
            color: $clr1;
            padding-block: 0;
            margin: 0;
        }
    }

    .txt-editor-container {
        height: 200px;
        margin-bottom: 30px;
    }

    .txt-editor {
        height: 150px;
    }

    h1 {
        font-size: 26px;
    }

    .comment {
        width: 521px;
        height: 204px;
        border: $clr1 solid 1px;
        line-height: 20px;
        border-radius: 8px;
        margin-bottom: 18px;
        // flex-direction: ;
    }
}