.task-preview {
    align-items: center;

    .status-picker {
        @extend .base-modal;

        .label {
            margin-inline: 20px;
            margin-block: 4px;
        }
    }

    .user-preview{
        @extend .base-modal;

        .person-details{
            .person-names{
                padding: 10px;
            }
        }
        width: 400px;
        height: 500px;
    }

    &>.task-column {
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(221, 221, 221);
            cursor: pointer;
        }
    }

}

.task-title {
    width: 288px;
}

.task-txt {
    width: 288px;
    align-items: center;

    span {
        font-size: 14px;
    }
}

.task-status {
    width: 130px;


}

.close-status-picker {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
}



.task-persons {
    width: 170px;
}

.task-icon {
    height: 22px;
    width: 22px;
    margin: 6px;
}

.colored-tag {
    position: relative;
}