.task-preview {
    align-items: center;
    // max-width: 776px;
    color: $clr1;

    &:hover {
        background-color: rgb(230, 230, 230);
        cursor: pointer;

        .preview-task-status {
            // opacity: 0.7;

            .status-picker {
                opacity: 1;
            }
        }

        .task-option-icon {
            opacity: 1;
        }
    }

    // .task-row-drag {
    //     border-bottom: #d0d4e4 1px solid;
    // }

    .white-background {
        position: absolute;
        background-color: #fff;
        height: 37px;
        width: 40px;
        left: -40px;
        // z-index: 5;
    }

    .orens-div {
        flex: 1 1 auto;
    }

    .task-option-icon {
        margin-inline-start: -31px;
        width: 25px;
        height: 25px;
        fill: #323338;
        margin-right: 1px;
        position: relative;
        opacity: 0;
    }

    .wrap-modal {
        position: relative;
        z-index: 71;
    }

    .wrap-group-modal {
        position: relative;
        z-index: 71;
    }

    .status-picker {
        position: absolute;
        background-color: #fff;
        color: white;
        justify-content: space-evenly;
        width: 200px;
        list-style-type: none;
        padding: 16px 24px 8px;
        display: flex;
        flex-direction: column;
        border: solid 1px rgba(0, 0, 0, 0.125);
        box-shadow: 0 0 10px 1px #00000026;
        border-radius: 0.5rem;
        z-index: 70;
        transform: translate(-50%, 18%);

        @include for-narrow-layout {
            top: 18%;
            left: 50%;
        }

        .arrow-up {
            position: absolute;
            width: 0;
            height: 0;
            transform: translate(-50%, 0);
            top: -10px;
            left: 50%;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgb(255, 255, 255);
        }

        .label {
            margin-bottom: 8px;
        }

        @include for-mobile-layout {
            @include mobile-modal;
            left: 50vw;

            &.open {
                bottom: 30px;
            }
        }
    }

    .user-preview {
        @extend .base-modal;

        @include for-narrow-layout {
            top: 200%;
            right: 0;
            min-width: 420px;
        }

        transition: all 0.5s;

        .person-details {
            padding: 16px 16px 0 16px;
            align-items: flex-start;

            &:hover {
                cursor: default;
            }
        }

        @include for-mobile-layout {
            @include mobile-modal;
        }
    }

    & > .task-column {
        transition: background-color 0.15s ease-in-out;
        background-color: white;
    }

    .comments-bubble {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
        border-left: rgba(0, 0, 0, 0.192) 1px solid;
        width: 77px;

        img {
            margin-inline-start: 20px;
        }

        .icon_component {
            path {
                transition: 0.2s;
            }
        }

        .icon_component:hover {
            path {
                color: #0073ea;
            }
        }

        .comments-num {
            position: absolute;
            color: #fff;
            left: 32px;
            top: 17px;
            line-height: 9px;
            font-size: 11px;
            font-weight: 400;
            background: $primery-btn-color;
            border-radius: 10px;
            text-align: center;
            padding: 2px 4px;
        }
    }

    .preview-task-status {
        width: 140px;
        position: relative;
        color: #fff;
    }

    .preview-timeline {
        width: 187px;
    }

    .preview-files {
        width: 139px;

        &:hover {
            .file-icon {
                display: block;
            }
        }
    }

    .preview-checkbox {
        width: 65px;
    }

    .preview-add-colume {
        display: flex;
        flex: 1;

        .white-block {
            min-width: 100px;
        }
    }

    .AvatarGroup-module_avatarGroupContainer__9H7Sk {
        flex-wrap: nowrap;
        padding: 0;
    }

    @include for-mobile-layout {
        & > div {
            &:nth-child(1) {
                margin-left: 23px;
            }
        }
    }
}

.person-img {
    width: 25px;
    border-radius: 50%;
}

.person-names {
    margin-block-end: 1em;
    flex-wrap: wrap;

    & > .person-item {
        margin-inline-end: 10px;
        margin-block-start: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: #e5f4ff;
        border-radius: 999px;

        & > img {
            margin-inline: 5px;
            width: 25px;
            height: 25px;
        }

        & > span {
            font-size: 12px;
            line-height: 16px;
            padding-inline-end: 10px;
        }

        & .icon-x {
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }
}

.suggested-people {
    margin-block-end: 10px;
    min-width: 99%;

    & > input {
        width: 100%;
    }

    & > ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    & > h4 {
        text-align: start;
        margin-block: 1em;
    }

    & .person-item {
        padding-inline-end: 10px;
        margin-inline-end: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 0.5em;
        width: 100%;

        &:hover {
            background: rgb(220, 223, 236);
        }

        & > img {
            border-radius: 50%;
            margin-inline: 5px;
            width: 25px;
            height: 25px;
        }

        & > span {
            font-size: 14px;
        }
    }
}

.task-title {
    width: 360px;
    border: none;
    outline: none;
    font-family: Figtree;
    font-size: 14px;
    padding-inline-start: 4px;

    @include for-mobile-layout {
        width: 220px;
    }
}

.task-title-input {
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 1em;
    font-family: Figtree;
    margin-inline-start: 5px;
    width: 95%;
    background: transparent;
    padding-inline-start: 2px;
    padding-bottom: 3px;
    color: $primary-text-color;

    &:hover,
    &:focus {
        outline: 1px solid rgb(100, 100, 100);
        border-radius: 0.25em;
    }

    &:focus {
        background: white;
    }
}

.task-txt {
    width: 360px;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 14px;
    }

    & > form {
        width: 100%;
    }

    @include for-mobile-layout {
        width: 170px;
    }
}

.task-status {
    width: 140px;
    position: relative;

    span {
        color: white;
    }
}

.close-status-picker {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
}

.task-persons {
    width: 98px;

    @include for-mobile-layout {
        margin-left: 10px;
    }

    &.upper-task {
        @include for-mobile-layout {
            margin-left: 29px;
        }
    }
}

.task-icon {
    height: 22px;
    width: 22px;
    margin: 6px;
}

.open-task-icon {
    opacity: 0.5;
}

// .colored-tag {
//     position: relative;
//     z-index: -1;
// }
