.task-preview {
    align-items: center;

    .status-picker {
        position: relative;
        margin-top: 50px;
        right: 40%;
        background-color: #fff;
        height: 183px;
        width: 250px;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        border: $clr1 solid 1px;



        .label {
            margin-inline: 20px;
            margin-block: 4px;
        }
    }

    &>* {
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: rgb(221, 221, 221);
            cursor: pointer;
        }
    }

}

.task-title {
    width: 288px;
}

.task-txt {
    width: 288px;
    align-items: center;

    span {
        font-size: 14px;
    }
}

.task-status {
    width: 130px;
}

.task-persons {
    width: 170px;
}

.task-icon {
    height: 22px;
    width: 22px;
    margin: 6px;
}

.colored-tag {
    position: relative;
}