.task-details-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    // height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: -13px 0px 10px 0px rgb(33 33 33 / 41%);
    padding: 0;
    transform: translateX(100%);
    transition: all 0.4s;
    display: none;
    // display: flex;
    flex-direction: column;
    color: $clr1;
    z-index: 70;
    overflow-y: scroll;
    height: 100vh;

    @include for-mobile-layout {
        width: 100vw;
        overflow-y: hidden;

        & > span {
            padding: 0;
            margin-inline-start: 15px;
            margin-block-start: 15px;
        }

        & .tab--wrapper {
            width: 100%;
        }

        & .tabs--wrapper {
            width: 100%;

            @include for-mobile-layout {
                padding: 0;
            }
        }

        & .return-btn {
            position: fixed;
            left: 0;
            top: 0;
        }
    }
}

.board-details {
    .dark-screen:hover {
        opacity: 0.1;
    }

    .return-btn {
        margin-inline-start: 13px;
    }

    hr {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 0.6px;

        align-self: center;
    }
}

.task-modal-open {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    color: $clr1;

    h3 {
        margin-inline: auto;
        margin-block: 10px;
        margin-left: 20px;
        margin-inline-start: 25px;

        @include for-mobile-layout {
            text-align: center;
            margin-top: 50px;
        }
    }

    .close-btn {
        width: 30px;
        height: 30px;
        margin-bottom: 15px;
        margin-left: 9px;
        margin-inline-start: 13px;

        @include for-mobile-layout {
            margin-bottom: 0;
        }
    }

    hr {
        color: rgba(50, 51, 56, 0.2941176471);
        height: 1px;
        width: 94.8%;
        margin-bottom: 20px;
        margin-top: -0.6px;
        align-self: center;
    }

    .task-updates {
        flex-direction: column;
        justify-content: center;
        padding-inline: 20px;

        & > .img-container {
            padding-block-start: 18px;
        }
    }

    .comments-btn {
        display: flex;
        align-items: end;
        margin-left: 20px;

        .tab {
            background-color: #fff;
            color: $clr1;
            padding: 0;
            margin: 0;
            font-size: 14px;

            .tab-inner {
                padding: 0;
                padding-inline: 8px;
            }

            .tabs--wrapper {
                padding-bottom: 0px;
            }

            .white-home {
                width: 15px;
                height: 15px;
            }
        }

        .tabs--wrapper {
            padding-bottom: 0;
        }
    }

    .txt-editor-container {
        height: 200px;
        border-radius: 8px;
        background: white;
        margin-block-end: 20px;

        @include for-mobile-layout {
            // display: flex;
            // order: 2;
            position: fixed;
            bottom: 0px;
            left: 0;
            width: 100%;
            padding-inline: 20px;
        }
    }

    .txt-editor {
        height: 150px;
        border-radius: 8px;

        @include for-mobile-layout {
            height: 90px;
        }
    }

    h1 {
        font-size: 26px;
    }

    .opend-input {
        width: 551px;
        height: 40px;
        border-radius: 0.5em;

        input {
            width: 100%;
            height: 100%;
            padding-left: 10px;
            border-radius: 0.5em;
            outline: none;
            border: var(--primary-color) 1px solid;
            font-size: 15px;
            color: var(--secondary-text-color);

            &:hover {
                background-color: var(--primary-background-hover-color);
            }
        }
    }

    .comment {
        width: 100%;
        height: 161px;
        border: var(--layout-border-color) solid 1px;
        line-height: 20px;
        border-radius: 8px;
        margin-bottom: 18px;
        flex-direction: column;

        & > * {
            margin-inline-start: 16px;
            font-size: 16px;
        }

        @include for-mobile-layout {
            height: 120px;
        }
    }

    .close-modal {
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        padding: 0;
        margin: 0;
        margin-bottom: 8px;
        color: #777777;
        font-size: 16px;
        background-color: #fff;

        &:hover {
            background-color: #dcdfec;
            border-radius: 0.2rem;
        }
    }

    .update-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        margin: 0;
        width: 62.4063px;
        height: 31.9844px;
        margin-block-start: 15px;

        position: relative;
        left: 0;
        bottom: -5px;
        width: 100%;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        background: #fefcfc;
        color: $primary-text-color;
        border: 1px solid #ccc;

        @include for-mobile-layout {
            bottom: -67px;
        }

        &:hover {
            background: #eaecec;
        }
    }

    .main-details-container {
        padding-block-start: 18px;

        @include for-mobile-layout {
            order: 1;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            max-height: 62vh;
        }
    }

    .user {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-inline-end: 10px;
    }

    .is-active {
        background-color: #00c875;
        height: 9px;
        width: 9px;
        border-radius: 50%;
        display: inline-block;
    }

    .user-line {
        height: 67px;
        align-items: center;
    }

    a {
        margin-inline-end: 4px;
        font-size: 16px;
        font-family: Figtree;
    }

    .clock-img {
        width: 15px;
        height: 15px;
        margin-inline-end: 2px;
        margin-top: 1px;
    }

    .date {
        margin-inline-end: 20px;
        font-size: 14px;
    }

    ul {
        padding: 0;
    }

    .ql-container {
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        background: #fefcfc;
    }

    .ql-snow.ql-toolbar {
        display: block;
        background: #eaecec;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }
}
