.work-space {
    grid-area: work-space;
    background-color: $work-space-bgc;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 255px;
    // position: fixed;
    left: 66px;
    border-right: 1px solid rgba(0, 0, 0, 0.102);
    transition: transform 1s;
    font-family: Figtree;
    color: $clr1;


    &.close-workspace {
        transform: translateX(-225px);
    }

    .workspace-header {
        justify-content: space-between;
        align-items: center;
    }

    .toggle-nemu-btn-wrap {
        position: relative;
    }

    .toggle-menu-btn {
        position: absolute;
        top: 10px;
        left: 228px;
        height: 24px;
        width: 24px;
        background-color: white;
        border-radius: 1rem;
        transition: all 0.2s;
        border: 1px solid rgba(0, 0, 0, 0.102);

        .arrow-left-icon {
            height: 12px;
            width: 12px;
            margin-bottom: 3.5px;
            margin-left: 3.5px;
        }
    }

    .toggle-menu-btn:hover {
        width: 35px;
        background-color: #0073ea;
        transform: translateX(-20%);
    }

    .main-icon {
        height: 24px;
        width: 24px;
        margin: 5px;
        font-size: 0.85rem;
        font-weight: 500;

        .home-icon {
            height: 16px;
            width: 16px;
        }
    }

    .main-workspace-dropdown {
        border: 1px solid $clr1;
        border-radius: 0.25rem;
        align-items: center;
        padding: 2px;
        margin-bottom: 17px;

        .main-icon {
            position: relative;
            margin: 5px 5px;
            background-color: #225091;
            color: white;
            border-radius: 0.5rem;
            text-align: center;
            line-height: 24px;
        }

        .home-icon {
            position: absolute;
            top: 12px;
            left: 17px;
        }

        h3 {
            color: #323338;
            display: inline-block;
            margin: 0;
            line-height: 24px;
            font-size: 0.85rem;
            padding-left: 4px;
            padding-right: 48px;
        }

        .arrow-down-icon {
            height: 18px;
            width: 18px;
            vertical-align: middle;
        }
    }

    .option-wrap {
        width: 224px;
        height: 32px;
        margin-inline-start: 3px;

        :hover {
            background-color: #dcdfec;
            border-radius: 0.2rem;
        }
    }

    p {
        color: #323338;
        font-size: 14px;
        padding-left: 7px;
        margin-top: 17px
    }

    hr {
        color: #3233384b;
        height: 1px;
        width: 95%;
        margin-top: 17px;
        margin-bottom: 23px
    }

    .close {
        transform: translateX(100%);
    }

    .dark-screen {
        z-index: 60;
        background-color: rgba(0, 0, 0, 0.425);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: auto;
        bottom: auto;
    }

    .main-modal {
        position: relative;
        background-color: #fff;
        box-shadow: 0 0 12px 1px grey;
        height: 245px;
        transform: translate(50%, -50%);
        left: 50%;
        top: 0%;
        transition: all 0.3s ease 0s;
        width: 437px;
        z-index: 71;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        color: #323338;
        border-radius: 8px;

        .close-modal {
            align-self: flex-end;
            padding-inline-end: 1em;
        }

        form {
            flex-direction: column;
            width: 351px;
        }

        .modal-btns {
            align-self: end;
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }

        button {
            margin: 0;
            margin-inline-start: 20px;
            border-radius: 4px;
            background-color: #0073ea;
        }

        .cancel-modal {
            background-color: #fff;
            color: $clr1;
        }

        input {
            width: 100%;
            height: 32px;
            border-radius: 4px;
            box-shadow: none;
            border: $clr1 solid 0.5px;
            font-family: Figtree;
        }

        h1 {
            width: 100%;
            font-size: 32px;
        }

        label {
            margin-bottom: 0;
        }
    }

    .board-search {
        display: flex;

        &::after {
            outline: #0073ea 1px solid;
        }

        .search-board-icon {
            position: absolute;
            // margin-left: 5px;
            // margin-top: 4px;
            padding-top: 2px
        }

        input {
            font-family: Figtree;
            margin: 0;
            padding-left: 27px;
            border: none;
            background-color: #f6f7fb;
            width: 100%;
            height: 30px;
            padding-top: 3px;

            &:focus {
                outline: #4d99f8 1px solid;
                border-radius: 0.2rem;
            }
        }
    }

    .board-filter,
    .board-add {
        width: 100%;

        &:hover {
            background-color: #dcdfec;
            border-radius: 0.2rem
        }
    }

}

.workspace-txt {
    font-size: 12.5px;
    font-weight: 400;
    color: #676879;
    padding-top: 5px;
    padding-bottom: 8px;
    margin-left: -3px;
}

.search-board-icon {
    height: 20px;
    width: 20px;
}